<div id="prof-title">
    <h1>
        Juan Nuñez
        <small class="text-muted">Full Stack Developer Jr.</small>
        <br>
        <br>
        <h2 class="text-muted">Villa María, Córdoba, Argentina.</h2>
    </h1>
    <div class="line-1">
        <hr>
    </div>
    <div id="prof-sub">
        <h2><b>¡Hola!</b> 
            <br>
            <br>
            Me llamo <b>Juan Nuñez</b>, soy un <u>Full Stack Developer Jr.</u> y estudiante de <u>Ingeniería en Sistemas de Información</u>.
            <br>
            Amante de la tecnología, la computación, videojuegos y artista como hobby.
            <br>
            <br>
            ¡Te invito a revisar este portfolio y conocerme!.</h2>
    </div>
    <div class="line-1">
        <hr>
    </div>
</div>