<div>
    <div id="card-title">
        <h2 class="full-title">Mi trayectoria académica:</h2>
        <div class="card-group">
            <div class="card mb-3 bg-custom-1">
                <h3 class="card-header">Educación primaria</h3>
                <div class="card-body">
                    <h5 class="card-title">Escuela Primaria Gobernador José Francisco Javier Díaz</h5>
                    <h6 class="card-subtitle text-muted">Hernando, Córdoba</h6>
                </div>
                <div id="cards-image">
                  <img src="assets\gob_diaz.jpg" class="card-img-3" />
                </div>
                <div class="card-body">
                    <h4 class="card-text text-muted">2009-2015</h4>
                  </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Dirección: 25 de Mayo 678</li>
                    <li class="list-group-item">Teléfono: 0353 496-8003</li>
                </ul>
                <div class="card-footer text-muted">
                    x
                    <!-- Estimar tiempo desde la última edición -->
                </div>
            </div>
            <div class="card mb-3 bg-custom-1">
                <h3 class="card-header">Educación secundaria
                    <small class="text-muted">- Bachillerato en Arte Multimedia</small>
                </h3>
                <div class="card-body">
                    <h5 class="card-title">Instituto Divino Corazón</h5>
                    <h6 class="card-subtitle text-muted">Hernando, Córdoba</h6>
                </div>
                <div id="cards-image">
                  <img src="assets\idc.jpg" class="card-img-1" />
                </div>
                <div class="card-body">
                    <h4 class="card-text text-muted">2016-2021</h4>
                  </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Dirección: 25 de Mayo 100</li>
                    <li class="list-group-item">Teléfono: 0353 496-0953</li>
                </ul>
                <div class="card-footer text-muted">
                    x
                    <!-- Estimar tiempo desde la última edición -->
                </div>
            </div>
            <div class="card mb-3 bg-custom-1">
                <h3 class="card-header">Educación Universitaria
                    <small class="text-muted">- Ingeniería en Sistemas de Información</small>
                </h3>
                <div class="card-body">
                    <h5 class="card-title">Universidad Tecnológica Nacional - Facultad Regional Villa María</h5>
                    <h6 class="card-subtitle text-muted">Villa María, Córdoba</h6>
                </div>
                <div id="cards-image">
                  <img src="assets\utn_vm.jpg" class="card-img-2" />
                </div>
                <div class="card-body">
                    <h4 class="card-text text-muted">2022-Actualidad</h4>
                  </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Dirección: Av. Universidad 450</li>
                    <li class="list-group-item">Teléfono: 0353 453-7500</li>
                </ul>
                <div class="card-footer text-muted">
                    x
                    <!-- Estimar tiempo desde la última edición -->
                </div>
            </div>
        </div>
        <!-- Agregar transición para las tarjetas, un fade con deslizamiento hacia arriba -->
    </div>
</div>