<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h2 class="proj-title">
                Mis Proyectos:
            </h2>
            <div id="proj-cards">
                <div id="card-background">
                    <img src="assets\ap_icon.jpg" class="mini-logo" />
                    <div id="title-low">
                        <h3>
                            Portfolio Web
                            <h4 class="text-muted">
                                Argentina Programa
                            </h4>
                        </h3>
                    </div>
                </div>
                <div id="card-background">
                    <img src="assets\ap_icon.jpg" class="mini-logo" />
                    <div id="title-low">
                        <h3>
                            Curso de inglés
                            <h4 class="text-muted">
                                UNCAUS
                            </h4>
                        </h3>
                    </div>
                </div>
                <div id="card-background">
                    <img src="assets\ap_icon.jpg" class="mini-logo" />
                    <div id="title-low">
                        <h3>
                            x
                            <h4 class="text-muted">
                                x
                            </h4>
                        </h3>
                        <!-- Completar con info más adelante -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>