<h2 class="full-title skill-title">Mis idiomas</h2>
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div id="skill-table">
                        <div id="skill">
                            <h5>Español</h5>
                            <div class="back-bar">
                                <div class="skills esp">Nativo</div>
                            </div>
                            <h5>Inglés</h5>
                            <div class="back-bar">
                                <div class="skills eng">8</div>
                            </div>
                            <h5>Italiano</h5>
                            <div class="back-bar">
                                <div class="skills ita">3</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <img src="assets\missing_image.jpg" class="cert-lang" />
                    <div id="cert-title">
                        <h6>Certificado del curso de idiomas dictado por la Escuela de <br> Lenguas UNCAUS (Universidad Nacional del Chaco Autral) <br>2022</h6>
                    </div>
                    <!-- Cuando reciba el certificado, reemplazo la imagen -->
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <p class="prog-info">
                        Siempre disfruté del estudio en materia de programación es de manera individual, investigación propia y práctica. 
                        <br>
                        <br>
                        Sin embargo, actualmente cuento con formación universitaria y 
                        la formación realizada durante el año 2022 en Argentina Programa, con la cuál obtuve el certificado de Full Stack Developer.
                        <br>
                        <br>
                        Por supuesto, sigo adquiriendo conocimiento en la materia y mejorando la manera en que llevo a cabo proyectos.
                    </p>
                </div>
                <div class="col">
                    <div id="prog-section">
                        <h2 class="full-title prog-title">Mis lenguajes de programación</h2>
                        <div id="prog-skill">
                            <div class="chart-container-1">
                                <div class="chart-background-1"></div>
                                <h4>HTML/CSS</h4>
                                <div class="chart-foreground-1"></div>
                            </div>
                            <div class="chart-container-2">
                                <div class="chart-background-2"></div>
                                <h4>Python</h4>
                                <div class="chart-foreground-2"></div>
                            </div>
                            <div class="chart-container-3">
                                <div class="chart-background-3"></div>
                                <h4>JavaScript</h4>
                                <div class="chart-foreground-3"></div>
                            </div>
                            <div class="chart-container-4">
                                <div class="chart-background-4"></div>
                                <h4>Java</h4>
                                <div class="chart-foreground-4"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>